include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingapacheconf.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingarduino.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingasciidoc.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingasm.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingawk.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingc.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingclojure.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcmake.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcoffeescript.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcolortest.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingconf.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcsharp.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcss.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingcython.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingdot.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingdotenv.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingemail.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingDockerfile.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingetc-hosts.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingfish.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingfortran.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinggentoo.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinggit.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinggitcommit.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingglsl.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinggo.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinggroff.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinghaml.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinghaskell.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinghtml.nano_v2_9.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinghtml.j2.nano_v2_9.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingical.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingini.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinginputrc.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingjava.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingjavascript.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingjs.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingjson.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingkeymap.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingkickstart.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingledger.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinglisp.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightinglua.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingmakefile.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingman.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingmarkdown.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingmpdconf.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingmutt.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingnanorc.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingnginx.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingocaml.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpatch.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpeg.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingperl.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingperl6.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingphp.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpkg-config.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpkgbuild.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpo.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpov.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingprivoxy.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpuppet.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingpython.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingreST.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingrpmspec.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingruby.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingrust.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingscala.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsed.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsh.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsls.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsql.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsvn.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingswift.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingsystemd.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingtcl.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingtex.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingvala.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingverilog.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingvi.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingxml.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingxresources.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingyaml.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingyum.nanorc"
include "{{ dev-utils.shared_conf_dir }}/nano-syntax-highlightingzsh.nanorc"
